@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientPulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
    filter: blur(70px);
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
    filter: blur(90px);
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
    filter: blur(70px);
  }
}

.animate-gradientPulse {
  animation: gradientPulse 6s ease-in-out infinite;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  ms-overflow-style: none;
  scrollbar-width: none;
}



